<!DOCTYPE html>
<html lang="en">


<head>
  <title>Graph</title>
</head>

<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <div class="wrap container">
    <div class="inner row">
      <div class="col">
        <div>WED</div>
        <div>18</div>
      </div>
      <div>
        <img src="SVG/Cloud-Drizzle-Alt.svg" width="80" height="80" color="white"></img>
      </div>
      <div class="barPadding row">
        <span>18&#8451;</span>
        <p class='bar' id="rcorners12"></p>
        <span>38&#8451;</span>
      </div>
    </div>
  </div>


</body>
<style>
  .wrap {
    display: flex;
    justify-content: center;
    background: silver;
  }

  .inner {
    align-self: center;
    padding: 2rem;
  }









  .inside {
    margin-right: 10px;
  }

  .border {
    background-color: grey
  }

  .barPadding {
    width: 600px;
    padding-top: 3px;
  }

  .barContainer {
    vertical-align: middle;
  }
  /*.content {
    display: inline-block;
  }*/

  .bar {
    border-radius: 20px;
    background: black;
    width: 400px;
    height: 20px;
  }
</style>

</html>
