<!DOCTYPE html>
<html lang="en">


<head>
  <title>Graph</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245"
    width="100%"
    src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=Downtown Boston">
    </iframe>

    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <iframe width='100%' frameBorder='0' style='height: 95vh' src='https://maps.darksky.net/@temperature,45.421,-75.690,7,11?embed=true&timeControl=true&fieldControl=true&defaultField=temperature&defaultUnits=_c'></iframe>
<style>
</style>

    </body>


</html>
