<!DOCTYPE html>
<html lang="en">
<noscript>
    <style type="text/css">
        body {
            overflow: hidden;
        }
        
        .noscript-overlay {
            background-color: white;
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2000;
        }
        
        .noscript-text {
            margin: 50px 50px;
        }
        
        .noscript-font {
            color: #333;
        }
    </style>
    <div class="noscript-overlay">
        <div class="noscript-text">
            <h1 class="noscript-font">
                    This website requires JavaScript to display graphical content.
                </h1>
            <p class="noscript-font"><strong>Please check your browser settings and turn on JavaScript.</strong></p>
            <p class="noscript-font">If you can't find the setting, try searching with your browser name (Chrome, Firefox, etc.) and "turning on JavaScript".</p>
            <p class="noscript-font">We do not track you over the web whatsoever.</p>
        </div>
    </div>
</noscript>

<head>
    <title>Weather </title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/navigationMenu.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/weather.js"></script>
</head>

<body>
    <!--
<nav>
<ul>
<li><a href="#">View</a></li>
<li class="drop"> <a href="#">You</a>
<div class="dropdownContain">
<div class="dropOut">
<div class="triangle"></div>
<ul>
<li>Sign In/Up</li>
</ul>
</div>
</div>
</li>
<li><a href="#">Help</a></li>
</ul>
</nav>
-->
    <div>
        <div class="col-xs-12 col-sm-6 col-md-8"> <span class="location2">Loading location</span> <span class="sum">Loading summary</span> </div>
        <div class="col-xs-6 col-md-4"> <span class="inner">Loading weather information.</p>
                <span class="location">Loading location.</p>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>

    </body>
</html>