<!DOCTYPE html>
<html lang="en">
<noscript>
    <style type="text/css">
        body {
            overflow: hidden;
        }
        
        .noscript-overlay {
            background-color: white;
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2000;
        }
        
        .noscript-text {
            margin: 50px 50px;
        }
        
        .noscript-font {
            color: #333;
        }
    </style>
    <div class="noscript-overlay">
        <div class="noscript-text">
            <h1 class="noscript-font">
                    This website requires JavaScript to display graphical content.
                </h1>
            <p class="noscript-font"><strong>Please check your browser settings and turn on JavaScript.</strong></p>
            <p class="noscript-font">If you can't find the setting, try searching with your browser name (Chrome, Firefox, etc.) and "turning on JavaScript".</p>
            <p class="noscript-font">We do not track you over the web whatsoever.</p>
        </div>
    </div>
</noscript>

<head>
    <title>Weather </title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <script src="js/weather.js"></script>
</head>

<body>
    


    <div>
        <div class="col-xs-12 col-sm-6 col-md-8"> <span class="location2">Loading location</span> <span class="sum">Loading summary</span> </div>
        <div class="col-xs-6 col-md-4"> <span class="inner">Loading weather information.</span>
                <span class="location">Loading location.</span>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="container testimonial-group">
                        <div class="row text-center" id="forecastDay" style="padding-top:300px top:0px"></div>
                </div>
                </div>
                <div id="menu1" class="tab-pane fade">
<div class="container testimonial-group">
                        <div class="row text-center" id="forecastDay" style="padding-top:300px top:0px"></div>
                </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                                        <div class="container testimonial-group">
                        <div class="row text-center" id="forecastDay" style="padding-top:300px top:0px">
                        </div>
                </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                                        <div class="container testimonial-group">
                        <div class="row text-center" id="forecastDay" style="padding-top:300px top:0px">
                        </div>
                </div>
                </div>
            </div>
        </div>

    </body>
<script>

//dynamically set skycons by class name
var list  = [
          "clear-day", "clear-night", "partly-cloudy-day",
          "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
          "fog"
        ]
//dynamically set skycons by class name
//functions that adding hour info


//testing
var weather = [{temperature:0,icon:"rain"},{temperature:10,icon:"cloudy"},{temperature:20,icon:"snow"},{temperature:30,icon:"wind"},{temperature:25,icon:"clear-day"}]
for(var a = 0;a<24;a++){
  var temp = Math.floor(Math.random() * (40 - (-40) + 1)) -40
  var index = Math.floor(Math.random() * (9 - 0 + 1)) + 0
  weather.push({temperature:temp,icon:list[index]})
}
//testing

/*
unit can be "c" "C" "f" "F"
*/
function renderingHourInfo(weather,unit){
  var celsius = "&#8451;"
  var fahrenheit = "&#8457;"

  var tunit = celsius
  if(unit ==="c"||unit==="C"){
    tunit = celsius
  }
  if(unit ==="f"||unit==="F"){
    tunit = fahrenheit
  }


  //calculate average temp
  var sum=0
  var min=weather[0].temperature
  var max=weather[0].temperature
  for(let x of weather){
      if(x.temperature<min){
        min=x.temperature
      }
      if(x.temperature>max){
        max=x.temperature
      }
      sum+=x.temperature
  }
  var avg = sum/24
  var height = 0.00
  for(var i =0;i<weather.length;i++){
      console.log(i);
      console.log(weather[i]);
      height = (1-(weather[i].temperature-min)/(max-min))*200
      if(i<12){
        $("#forecastDay").append("<div class=\"col-xs-4\"><div class=\"row\">"+(i+1)+"AM</div><div class=\"row\" style=\"padding-top:"+height+"px\"><canvas class=\""+weather[i].icon+"\" width=\"50\" height=\"50\"></canvas></div><div class=\"row\">"+weather[i].temperature+""+tunit+"</div></div><!---->");
      }else{
        $("#forecastDay").append("<div class=\"col-xs-4\"><div class=\"row\">"+(i+1-12)+"PM</div><div class=\"row\" style=\"padding-top:"+height+"px\"><canvas class=\""+weather[i].icon+"\" width=\"50\" height=\"50\"></canvas></div><div class=\"row\">"+weather[i].temperature+""+tunit+"</div></div><!---->");
      }
  }

  var icons = new Skycons({"color": "black"}),
  list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;
  for(i = list.length; i--; ) {
      var weatherType = list[i],
          elements = document.getElementsByClassName( weatherType );
      for (e = elements.length; e--;){
          icons.set( elements[e], weatherType );
      }
  }
  icons.play();
}

renderingHourInfo(weather,"f")
//functions that adding hour info
</script>
</html>