<!DOCTYPE html>
<html lang="en">
<noscript>
    <style type="text/css">
        body {
            overflow: hidden;
        }

        .noscript-overlay {
            background-color: white;
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2000;
        }

        .noscript-text {
            margin: 50px 50px;
        }

        .noscript-font {
            color: #333;
        }
    </style>
    <div class="noscript-overlay">
        <div class="noscript-text">
            <h1 class="noscript-font">
                    This website requires JavaScript to display graphical content.
                </h1>
            <p class="noscript-font"><strong>Please check your browser settings and turn on JavaScript.</strong></p>
            <p class="noscript-font">If you can't find the setting, try searching with your browser name (Chrome, Firefox, etc.) and "turning on JavaScript".</p>
            <p class="noscript-font">We do not track you over the web whatsoever.</p>
        </div>
    </div>
</noscript>

<head>
    <title>Weather </title>
    <!--css-->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--js-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <script src="js/weather.js"></script>
</head>

<body>
    <!-- The overlay -->
    <div id="myNav" class="overlay">
        <!-- Button to close the overlay navigation --><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!-- Overlay content -->
        <div class="overlay-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6"> <a href="#" class="active" id="login-form-link"><h5>Login</h5></a> </div>
                                    <div class="col-xs-6"> <a href="#" id="register-form-link"><h5>Register</h5></a> </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="login-form" role="form" style="display: block;">
                                            <div class="form-group">
                                                <input type="text" name="username_l" id="username-l" tabindex="1" class="form-control" placeholder="Username" value=""> </div>
                                            <div class="form-group">
                                                <input type="password" name="password_l" id="password-l" tabindex="2" class="form-control" placeholder="Password"> </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center"> <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password"><h5>Forgot Password?</h5></a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form id="register-form" role="form" style="display: none;">
                                            <div class="form-group">
                                                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value=""> </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value=""> </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"> </div>
                                            <div class="form-group">
                                                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password"> </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-success" value="Register Now"> </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Use any element to open/show the overlay navigation menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">A Weather Application</a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="controls" id="pac-input" placeholder='Search location'><span class="input-group-btn">
                            </span> </div>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><div class="btn-group btn-group-justified" role="group" style="padding:5px" aria-label="...">
  <div class="btn-group" role="group">
    <button id='c'type="button" class="btn btn-default">Cº</button>
  </div>
  <div class="btn-group" role="group">
    <button id='f' type="button" class="btn btn-default">Fº</button>
  </div>
</div></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6"> <span class="location2">Loading location</span> <span class="sum">Loading summary</span> </div>
        <div class="col-xs-6 col-md-6 col-md-6"> <span class="inner">Loading weather information.</span> <span class="location">Loading location.</span> </div>
    </div>
    <div class="container">
<!--<!— Nav tabs —>-->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#wind1" role="tab">Wind</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#humidity1" role="tab">Humidity</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Map</a> </li>
        </ul>
    </div>
<!--    <!— Tab panes —>-->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" style="padding-top:30px;padding-bottom:30px;">
            <div class="container testimonial-group">
                <div class="row text-center" id="forecastDay" style="top:0px"></div>
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel"><iframe width='100%' frameBorder='0' style='height: 95vh' src='https://maps.darksky.net/@temperature,53.345,-92.074,2?embed=true&timeControl=true&fieldControl=true&defaultField=temperature&defaultUnits=_c'></iframe> </div>
        <div class="tab-pane" role="tabpanel"id="wind1" style="padding-top:30px;padding-bottom:30px;">
            <div class="container testimonial-group">
                <div class="row text-center" id="wind" style="top:0px"></div>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="humidity1" style="padding-top:30px;padding-bottom:30px;">
            <div class="container testimonial-group">
                <div class="row text-center" id="humidity" style="top:0px"></div>
            </div>
        </div>

        <div class="container">
            <hr>
        </div>
        <!--bar start-->
        <div class="container" id='compare'></div>
        <!--bar end-->
        <div id="map"></div>
        <div id="infowindow-content"> <img src="" width="16" height="16" id="place-icon"> <span id="place-name" class="title"></span>
            <br> <span id="place-address"></span> </div>
        <script>
            var lat,lng
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }
            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
            // This example requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 43.7111117
                        , lng: -79.2845772
                    }
                    , zoom: 13
                });
                var card = document.getElementById('pac-card');
                var input = document.getElementById('pac-input');
                var types = document.getElementById('type-selector');
                var strictBounds = document.getElementById('strict-bounds-selector');
                map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);
                var autocomplete = new google.maps.places.Autocomplete(input);
                // Bind the map's bounds (viewport) property to the autocomplete object,
                // so that the autocomplete requests use the current map bounds for the
                // bounds option in the request.
                autocomplete.bindTo('bounds', map);
                var infowindow = new google.maps.InfoWindow();
                var infowindowContent = document.getElementById('infowindow-content');
                infowindow.setContent(infowindowContent);
                var marker = new google.maps.Marker({
                    map: map
                    , anchorPoint: new google.maps.Point(0, -29)
                });
                autocomplete.addListener('place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }
                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                        console.log(place.geometry.location.lat());
                        console.log(place.geometry.location.lng());
                         lat = place.geometry.location.lat()
                         lng = place.geometry.location.lng()
                        reload(lat, lng, unit);
                        //            map.fitBounds(place.geometry.viewport);
                    }
                    else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17); // Why 17? Because it looks good.
                    }
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);
                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || '')
                                    , (place.address_components[1] && place.address_components[1].short_name || '')
                                    , (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
                    }
                    infowindowContent.children['place-icon'].src = place.icon;
                    infowindowContent.children['place-name'].textContent = place.name;
                    infowindowContent.children['place-address'].textContent = address;
                    infowindow.open(map, marker);
                });
            }
            $("#searchTrigger").on('click', function () {
                console.log('blah');
            })
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaf4F_4S87KsLLSq9yhRwl01wkBVeaEh0&libraries=places&callback=initMap" async defer></script>
        <script>
            //dynamically set skycons by class name
            var list = [
          "clear-day", "clear-night", "partly-cloudy-day"
          , "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind"
          , "fog"
        ]
                //dynamically set skycons by class name
                //functions that adding hour info
                //testing
            var weather = [{
                temperature: 0
                , icon: "rain"
    }, {
                temperature: 10
                , icon: "cloudy"
    }, {
                temperature: 20
                , icon: "snow"
    }, {
                temperature: 30
                , icon: "wind"
    }, {
                temperature: 25
                , icon: "clear-day"
    }]
            for (var a = 0; a < 24; a++) {
                var temp = Math.floor(Math.random() * (40 - (-40) + 1)) - 40
                var index = Math.floor(Math.random() * (9 - 0 + 1)) + 0
                weather.push({
                    temperature: temp
                    , icon: list[index]
                })
            }
            //testing
            /*
            unit can be "c" "C" "f" "F"
            */
            function renderingHourInfo(weather, unit) {
                var celsius = "&#8451;"
                var fahrenheit = "&#8457;"
                var tunit = celsius
                if (unit === "c" || unit === "C") {
                    tunit = celsius
                }
                if (unit === "f" || unit === "F") {
                    tunit = fahrenheit
                }
                //calculate average temp
                var sum = 0
                var min = weather[0].temperature
                var max = weather[0].temperature
                for (let x of weather) {
                    if (x.temperature < min) {
                        min = x.temperature
                    }
                    if (x.temperature > max) {
                        max = x.temperature
                    }
                    sum += x.temperature
                }
                var avg = sum / 24
                var height = 0.00
                for (var i = 0; i < weather.length; i++) {
                    // console.log(i);
                    // console.log(weather[i]);
                    height = (1 - (weather[i].temperature - min) / (max - min)) * 200
                    if (i < 12) {
                        $("#forecastDay").append("<div class=\"col-xs-4\"><div class=\"row\">" + (i + 1) + "AM</div><div class=\"row\" style=\"padding-top:" + height + "px\"><canvas class=\"" + weather[i].icon + "\" width=\"50\" height=\"50\"></canvas></div><div class=\"row\">" + weather[i].temperature + "" + tunit + "</div></div><!---->");
                    }
                    else {
                        $("#forecastDay").append("<div class=\"col-xs-4\"><div class=\"row\">" + (i + 1 - 12) + "PM</div><div class=\"row\" style=\"padding-top:" + height + "px\"><canvas class=\"" + weather[i].icon + "\" width=\"50\" height=\"50\"></canvas></div><div class=\"row\">" + weather[i].temperature + "" + tunit + "</div></div><!---->");
                    }
                }
                var icons = new Skycons({})
                    , list = [
            "clear-day", "clear-night", "partly-cloudy-day"
            , "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind"
            , "fog"
          ]
                    , i;
                for (i = list.length; i--;) {
                    var weatherType = list[i]
                        , elements = document.getElementsByClassName(weatherType);
                    for (e = elements.length; e--;) {
                        icons.set(elements[e], weatherType);
                    }
                }
                icons.play();
            }
            // renderingHourInfo(weather, "f")
            //functions that adding hour info
        </script>
        <script>
            $(function () {
                $('#login-form-link').click(function (e) {
                    $("#login-form").delay(100).fadeIn(100);
                    $("#register-form").fadeOut(100);
                    $('#register-form-link').removeClass('active');
                    $(this).addClass('active');
                    e.preventDefault();
                });
                $('#register-form-link').click(function (e) {
                    $("#register-form").delay(100).fadeIn(100);
                    $("#login-form").fadeOut(100);
                    $('#login-form-link').removeClass('active');
                    $(this).addClass('active');
                    e.preventDefault();
                });
                $('#login-submit').click(function (e) {
                    var u = $(  "input[type=text][name=username_l]").val();
                    var p = $(  "input[type=password][name=password_l]").val();
                    if (u == "" || p == "") {
                        console.log(u +p);
                        alert("Please Enter all Required Information");
                    }
                    else {
                        $.post('/login', {
                            username: u
                            , pwd: p
                        }, function (data) {});
                    }
                });
                $('#register-submit').click(function (e) {
                    var u = $(  "input[type=text][name=username]").val();
                    var p = $(  "input[type=password][name=password]").val();
                    var pc = $(  "input[type=password][name=confirm-password]").val();
                    var e = $(  "input[type=email][name=email]").val();

                    if (u == "" || p == "" || e == "" || p != pc) {

                        console.log(u+p+pc+e);
                        console.log("u+p+pc+e");
                        alert("Missing Required Information or Password don't match.");
                    }
                    else {
                        $.post('/signup', {
                            username: u
                            , pwd: p
                            , email: e
                        }, function (data) {});
                    }
                });
            });

            $('#c').click(function (e) {
                unit = 'c'
                reload(lat, lng, unit)
            });
            $('#f').click(function (e) {
                unit = 'f'
                reload(lat, lng, unit)
            });

        </script>
</body>
<script src="reload.js"></script>

</html>
